Flask==2.3.2
youtube-transcript-api==0.4.3
transformers
sentence_transformers
faiss-cpu
numpy
pdfplumber
python-pptx
werkzeug
pymongo
PyJWT
langchain-groq==0.0.1
google-generativeai
python-dotenv
requests==2.31.0
flask-cors==4.0.0






