Flask
chromadb
PyPDF2
sentence-transformers
google-generativeai
python-dotenv
langchain
python-pptx
youtube-transcript-api
flask-cors
re
pymongo
jwt
werkzeug
boto3
langchain-core
langchain-groq
faiss-cpu
langchain-embeddings
PyMuPDF