flask==2.0.1
chromadb==0.3.23
PyPDF2==3.0.1
sentence-transformers==2.2.2
google-generativeai==0.1.0
python-dotenv==1.0.0
langchain==0.0.1
python-pptx==0.6.21
youtube-transcript-api==0.4.1
flask-cors==3.0.10
pymongo==4.5.0
pyjwt==2.1.0
werkzeug==2.0.1
boto3==1.20.0
langchain-core>=0.1,<0.2
langchain-groq==0.0.1
faiss-cpu==1.7.3
pymupdf==1.22.5

#pip install flask youtube_transcript_api langchain langchain-groq python-dotenv pymongo google-generativeai PyJWT werkzeug bson langchain-core PyPDF2 chromadb sentence-transformers python-pptx flask-cors

